<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado IMC</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    {% load static %}
    <script src="{% static 'imc/js/script.js' %}" ></script>
</head>
<body>
    <section class="section">
        {% include 'resultado_partial.html' %}
        <div id="situacao_imc" data-classificacao="{{ classificacao }}"></div>
    </section>
</body>

</html>